<div class="wrapper">
    <noscript>
        <div class="global-site-notice noscript">
            <div class="notice-inner">
                <p> <strong>JavaScript seems to be disabled in your browser.</strong>
                    <br /> You must have JavaScript enabled in your browser to utilize the functionality of this
                    website.</p>
            </div>
        </div>
    </noscript>
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
    <p id="back-top" style="display: none;"><a title="Top" href="#top">Top</a></p>
</div>